In [1]:
import pandas as pd
import numpy as np

In [2]:
!wget -O concrete_data.csv https://cocl.us/concrete_data

--2020-05-29 19:21:22--  https://cocl.us/concrete_data
Resolving cocl.us (cocl.us)... 158.85.108.83, 158.85.108.86, 169.48.113.194
Connecting to cocl.us (cocl.us)|158.85.108.83|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv [following]
--2020-05-29 19:21:25--  https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv
Resolving s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)... 67.228.254.196
Connecting to s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)|67.228.254.196|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 58988 (58K) [text/csv]
Saving to: ‘concrete_data.csv’

100%[======================================>] 58,988      --.-K/s   in 0.003s

2020-05-29 19:21:25 (18.3 MB/s) - ‘concrete_data.csv’ saved [58988/58988]

In [3]:

concrete_data = pd.read_csv('concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [4]:
concrete_data.shape

(1030, 9)

In [5]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [6]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [7]:
concrete_data_columns = concrete_data.columns
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [8]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [9]:

target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [10]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [11]:
n_cols = predictors_norm.shape[1] # number of predictors

In [12]:
import keras

Using TensorFlow backend.

In [13]:
from keras.models import Sequential
from keras.layers import Dense

In [14]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=42)

In [17]:
# build the model
model = regression_model()

WARNING:tensorflow:From /opt/conda/envs/Python36/lib/python3.6/site-packages/tensorflow/python/framework/op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

In [18]:
# fit the model
epochs = 50
model.fit(X_train, y_train, epochs=epochs, verbose=2)

WARNING:tensorflow:From /opt/conda/envs/Python36/lib/python3.6/site-packages/tensorflow/python/ops/math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Epoch 1/50
 - 2s - loss: 1589.7577
Epoch 2/50
 - 1s - loss: 1569.7286
Epoch 3/50
 - 1s - loss: 1546.0430
Epoch 4/50
 - 1s - loss: 1508.9829
Epoch 5/50
 - 1s - loss: 1452.8098
Epoch 6/50
 - 1s - loss: 1371.8623
Epoch 7/50
 - 1s - loss: 1256.1947
Epoch 8/50
 - 1s - loss: 1100.6740
Epoch 9/50
 - 1s - loss: 910.7256
Epoch 10/50
 - 1s - loss: 702.0849
Epoch 11/50
 - 6s - loss: 514.6009
Epoch 12/50
 - 1s - loss: 380.3336
Epoch 13/50
 - 3s - loss: 302.8610
Epoch 14/50
 - 1s - loss: 265.0627
Epoch 15/50
 - 1s - loss: 238.6515
Epoch 16/50
 - 1s - loss: 221.7654
Epoch 17/50
 - 1s - loss: 209.0171
Epoch 18/50
 - 1s - loss: 199.3584
Epoch 19/50
 - 1s - loss: 191.3997
Epoch 20/50
 - 1s - loss: 185.2311
Epoch 21/50
 - 1s - loss: 180.1791
Epoch 22/50
 - 1s - loss: 175.8783
Epoch 23/50
 - 8s - loss: 171.2838
Epoch 24/50
 - 1s - loss: 167.7713
Epoch 25/50
 - 1s - loss: 164.5865
Epoch 26/50
 - 1s - loss: 161.7210
Epoch 27/50
 - 1s - loss: 158.8375
Epoch 28/50
 - 1s - loss: 156.3690
Epoch 29/50
 - 1s - loss: 153.8903
Epoch 30/50
 - 1s - loss: 151.8956
Epoch 31/50
 - 1s - loss: 149.9116
Epoch 32/50
 - 1s - loss: 147.8040
Epoch 33/50
 - 1s - loss: 145.7216
Epoch 34/50
 - 1s - loss: 143.8924
Epoch 35/50
 - 1s - loss: 142.7160
Epoch 36/50
 - 1s - loss: 140.6981
Epoch 37/50
 - 1s - loss: 139.2237
Epoch 38/50
 - 1s - loss: 137.8852
Epoch 39/50
 - 5s - loss: 136.3710
Epoch 40/50
 - 1s - loss: 135.1387
Epoch 41/50
 - 1s - loss: 133.6984
Epoch 42/50
 - 1s - loss: 132.6168
Epoch 43/50
 - 1s - loss: 131.2820
Epoch 44/50
 - 1s - loss: 130.1882
Epoch 45/50
 - 1s - loss: 128.7130
Epoch 46/50
 - 1s - loss: 127.7463
Epoch 47/50
 - 1s - loss: 126.5772
Epoch 48/50
 - 1s - loss: 125.5465
Epoch 49/50
 - 1s - loss: 124.5177
Epoch 50/50
 - 1s - loss: 123.5818

In [19]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

309/309 [==============================] - 3s 11ms/step

123.99250936662494

In [20]:
from sklearn.metrics import mean_squared_error

In [21]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

123.99251177699034 0.0

In [23]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors with normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 24.84839448651064
MSE 2: 25.91162432821823
MSE 3: 20.37081087600066
MSE 4: 22.88164315023083
MSE 5: 23.55649333324247
MSE 6: 21.812557022934207
MSE 7: 28.54882997679479
MSE 8: 21.230480045948212
MSE 9: 21.677669432556744
MSE 10: 22.716985665478752
MSE 11: 23.509887899009925
MSE 12: 17.567598651527973
MSE 13: 23.61694188719814
MSE 14: 23.246281892350577
MSE 15: 25.41868132680751
MSE 16: 15.460139641869802
MSE 17: 19.08901261511744
MSE 18: 20.404740744038307
MSE 19: 18.612530859542897
MSE 20: 24.70866223060583
MSE 21: 20.1787091968129
MSE 22: 22.176903912936215
MSE 23: 18.392409303041724
MSE 24: 19.759208092797536
MSE 25: 20.97761084115235
MSE 26: 24.61883265918127
MSE 27: 20.23143186846983
MSE 28: 19.975522723398548
MSE 29: 21.233718316531874
MSE 30: 20.737223739377118
MSE 31: 17.60100204196177
MSE 32: 18.31775528250389
MSE 33: 18.28243364871127
MSE 34: 18.988292280524295
MSE 35: 22.35818451816596
MSE 36: 23.755814095531083
MSE 37: 16.39933337980104
MSE 38: 21.187784238154833
MSE 39: 21.539949768955267
MSE 40: 17.71406953928926
MSE 41: 21.585835336481484
MSE 42: 16.24816209984443
MSE 43: 20.690591609979524
MSE 44: 21.191451964640695
MSE 45: 22.159072517962905
MSE 46: 19.31844430448168
MSE 47: 17.383828690908487
MSE 48: 18.221351370456535
MSE 49: 19.34991251380698
MSE 50: 19.371323718222214


Below is the mean and standard deviation of 50 mean squared errors with normalized data. Total number of epochs for each training is: 50

Mean: 20.902722693591336
Standard Deviation: 2.6990993190270443