In [1]:
import pandas as pd
import numpy as np

In [2]:
!wget -O concrete_data.csv https://cocl.us/concrete_data

--2020-05-29 19:08:42--  https://cocl.us/concrete_data
Resolving cocl.us (cocl.us)... 158.85.108.83, 169.48.113.194, 158.85.108.86
Connecting to cocl.us (cocl.us)|158.85.108.83|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv [following]
--2020-05-29 19:08:44--  https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv
Resolving s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)... 67.228.254.196
Connecting to s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)|67.228.254.196|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 58988 (58K) [text/csv]
Saving to: ‘concrete_data.csv’

100%[======================================>] 58,988      --.-K/s   in 0.004s

2020-05-29 19:08:44 (15.8 MB/s) - ‘concrete_data.csv’ saved [58988/58988]

In [3]:
concrete_data = pd.read_csv('concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [4]:

concrete_data.shape

(1030, 9)

In [5]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [6]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [7]:
concrete_data_columns = concrete_data.columns
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [8]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [9]:

target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [10]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [11]:
n_cols = predictors_norm.shape[1] # number of predictors

In [12]:
import keras

Using TensorFlow backend.

In [13]:
from keras.models import Sequential
from keras.layers import Dense

In [14]:

# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=42)

In [17]:

# build the model
model = regression_model()

WARNING:tensorflow:From /opt/conda/envs/Python36/lib/python3.6/site-packages/tensorflow/python/framework/op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

In [18]:
# fit the model
epochs = 50
model.fit(X_train, y_train, epochs=epochs, verbose=2)

WARNING:tensorflow:From /opt/conda/envs/Python36/lib/python3.6/site-packages/tensorflow/python/ops/math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Epoch 1/50
 - 3s - loss: 1590.3194
Epoch 2/50
 - 0s - loss: 1573.3185
Epoch 3/50
 - 0s - loss: 1556.2266
Epoch 4/50
 - 0s - loss: 1539.1739
Epoch 5/50
 - 0s - loss: 1521.5359
Epoch 6/50
 - 0s - loss: 1503.4996
Epoch 7/50
 - 0s - loss: 1485.0186
Epoch 8/50
 - 0s - loss: 1466.0338
Epoch 9/50
 - 0s - loss: 1446.2750
Epoch 10/50
 - 0s - loss: 1425.7691
Epoch 11/50
 - 0s - loss: 1404.6013
Epoch 12/50
 - 0s - loss: 1382.8749
Epoch 13/50
 - 0s - loss: 1359.9740
Epoch 14/50
 - 0s - loss: 1336.7913
Epoch 15/50
 - 0s - loss: 1312.8051
Epoch 16/50
 - 0s - loss: 1287.4501
Epoch 17/50
 - 0s - loss: 1262.1400
Epoch 18/50
 - 0s - loss: 1235.2531
Epoch 19/50
 - 0s - loss: 1207.8738
Epoch 20/50
 - 0s - loss: 1179.5262
Epoch 21/50
 - 0s - loss: 1150.0465
Epoch 22/50
 - 0s - loss: 1119.7358
Epoch 23/50
 - 2s - loss: 1088.9987
Epoch 24/50
 - 0s - loss: 1057.0037
Epoch 25/50
 - 0s - loss: 1025.2392
Epoch 26/50
 - 0s - loss: 992.6177
Epoch 27/50
 - 0s - loss: 960.5477
Epoch 28/50
 - 0s - loss: 928.7008
Epoch 29/50
 - 0s - loss: 896.3944
Epoch 30/50
 - 0s - loss: 864.6019
Epoch 31/50
 - 0s - loss: 833.1280
Epoch 32/50
 - 0s - loss: 802.5279
Epoch 33/50
 - 0s - loss: 772.2875
Epoch 34/50
 - 0s - loss: 742.6377
Epoch 35/50
 - 0s - loss: 713.5106
Epoch 36/50
 - 0s - loss: 685.5991
Epoch 37/50
 - 0s - loss: 658.3903
Epoch 38/50
 - 0s - loss: 632.2650
Epoch 39/50
 - 0s - loss: 606.8421
Epoch 40/50
 - 0s - loss: 582.6511
Epoch 41/50
 - 0s - loss: 558.9845
Epoch 42/50
 - 0s - loss: 537.0266
Epoch 43/50
 - 0s - loss: 515.3930
Epoch 44/50
 - 0s - loss: 495.0787
Epoch 45/50
 - 0s - loss: 476.1770
Epoch 46/50
 - 0s - loss: 457.5372
Epoch 47/50
 - 0s - loss: 439.8341
Epoch 48/50
 - 0s - loss: 423.4694
Epoch 49/50
 - 0s - loss: 407.5045
Epoch 50/50
 - 0s - loss: 392.7240

In [19]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

309/309 [==============================] - 0s 1ms/step

395.9884888485412

In [20]:

from sklearn.metrics import mean_squared_error

In [21]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

395.9884931773394 0.0

In [22]:
total_mean_squared_errors = 50
epochs = 100
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors with normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 115.64272757718479
MSE 2: 84.31721990393974
MSE 3: 43.76715590344278
MSE 4: 43.10027571249162
MSE 5: 41.46893342644651
MSE 6: 42.23462081958561
MSE 7: 43.82464582325957
MSE 8: 33.24890908917177
MSE 9: 33.07130454350444
MSE 10: 36.55390216617523
MSE 11: 34.664611260867815
MSE 12: 31.54924798860519
MSE 13: 36.83645277115905
MSE 14: 38.044848148876795
MSE 15: 30.323029638494102
MSE 16: 25.725987752278645
MSE 17: 33.472357586363756
MSE 18: 32.08971007510682
MSE 19: 30.599667410248692
MSE 20: 32.18831269100646
MSE 21: 29.08993052510382
MSE 22: 29.0862378611148
MSE 23: 26.335609392826612
MSE 24: 26.640416642222977
MSE 25: 33.32832337043046
MSE 26: 31.555332159147294
MSE 27: 26.52139356915619
MSE 28: 28.592795270160565
MSE 29: 32.574544147380344
MSE 30: 30.891427987601766
MSE 31: 27.4796722313347
MSE 32: 24.50819435243082
MSE 33: 23.724434590262504
MSE 34: 30.03335336728389
MSE 35: 30.362653985378426
MSE 36: 32.21601662743824
MSE 37: 24.716489557309444
MSE 38: 29.616158210729704
MSE 39: 29.23708926203953
MSE 40: 23.658240376938508
MSE 41: 30.949539295678
MSE 42: 25.206033712837687
MSE 43: 26.355904940262583
MSE 44: 33.75804744337755
MSE 45: 30.597856441362005
MSE 46: 30.522053950041244
MSE 47: 29.477368894904178
MSE 48: 30.846107421183664
MSE 49: 30.729470891859926
MSE 50: 28.521147607599648


Below is the mean and standard deviation of 50 mean squared errors with normalized data. Total number of epochs for each training is: 100

Mean: 34.19711502700197
Standard Deviation: 14.658136775098619