In [15]:
import pandas as pd
import numpy as np

In [18]:
!wget -O concrete_data.csv https://cocl.us/concrete_data

--2020-05-29 18:32:34--  https://cocl.us/concrete_data
Resolving cocl.us (cocl.us)... 169.48.113.194, 158.85.108.83, 158.85.108.86
Connecting to cocl.us (cocl.us)|169.48.113.194|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv [following]
--2020-05-29 18:32:38--  https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv
Resolving s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)... 67.228.254.196
Connecting to s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)|67.228.254.196|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 58988 (58K) [text/csv]
Saving to: ‘concrete_data.csv’

100%[======================================>] 58,988      --.-K/s   in 0.004s

2020-05-29 18:32:38 (15.8 MB/s) - ‘concrete_data.csv’ saved [58988/58988]

In [19]:

concrete_data = pd.read_csv('concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [22]:
concrete_data.shape

(1030, 9)

In [23]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [24]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [25]:
concrete_data_columns = concrete_data.columns
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [26]:

predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [27]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [28]:

n_cols = predictors.shape[1] # number of predictors
n_cols

8

In [29]:

import keras

Using TensorFlow backend.

In [30]:

from keras.models import Sequential
from keras.layers import Dense

In [31]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [32]:
from sklearn.model_selection import train_test_split

In [33]:

X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=42)

In [35]:
# build the model
model = regression_model()

In [36]:

# fit the model
epochs = 50
model.fit(X_train, y_train, epochs=epochs, verbose=1)

WARNING:tensorflow:From /opt/conda/envs/Python36/lib/python3.6/site-packages/tensorflow/python/ops/math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Epoch 1/50
721/721 [==============================] - 1s 1ms/step - loss: 1037227.2316
Epoch 2/50
721/721 [==============================] - 0s 191us/step - loss: 772612.9332
Epoch 3/50
721/721 [==============================] - 0s 191us/step - loss: 585429.4395
Epoch 4/50
721/721 [==============================] - 0s 169us/step - loss: 448718.2030
Epoch 5/50
721/721 [==============================] - 0s 168us/step - loss: 345756.1513
Epoch 6/50
721/721 [==============================] - 0s 161us/step - loss: 265988.3057
Epoch 7/50
721/721 [==============================] - 0s 160us/step - loss: 202989.2163
Epoch 8/50
721/721 [==============================] - 0s 144us/step - loss: 152888.1643
Epoch 9/50
721/721 [==============================] - 0s 172us/step - loss: 112966.3047
Epoch 10/50
721/721 [==============================] - 0s 159us/step - loss: 81648.7349
Epoch 11/50
721/721 [==============================] - 0s 172us/step - loss: 57510.9136
Epoch 12/50
721/721 [==============================] - 0s 181us/step - loss: 39329.1890
Epoch 13/50
721/721 [==============================] - 0s 141us/step - loss: 26120.8219
Epoch 14/50
721/721 [==============================] - 0s 171us/step - loss: 16871.8582
Epoch 15/50
721/721 [==============================] - 0s 172us/step - loss: 10665.9532
Epoch 16/50
721/721 [==============================] - 0s 152us/step - loss: 6659.2477
Epoch 17/50
721/721 [==============================] - 0s 165us/step - loss: 4205.3278
Epoch 18/50
721/721 [==============================] - 0s 145us/step - loss: 2782.9691
Epoch 19/50
721/721 [==============================] - 0s 157us/step - loss: 1979.6976
Epoch 20/50
721/721 [==============================] - 0s 189us/step - loss: 1548.6144
Epoch 21/50
721/721 [==============================] - 0s 145us/step - loss: 1326.4037
Epoch 22/50
721/721 [==============================] - 0s 145us/step - loss: 1212.6862
Epoch 23/50
721/721 [==============================] - 0s 168us/step - loss: 1161.7163
Epoch 24/50
721/721 [==============================] - 0s 159us/step - loss: 1132.8888
Epoch 25/50
721/721 [==============================] - 2s 3ms/step - loss: 1116.5780
Epoch 26/50
721/721 [==============================] - 0s 161us/step - loss: 1106.9958
Epoch 27/50
721/721 [==============================] - 0s 149us/step - loss: 1099.4400
Epoch 28/50
721/721 [==============================] - 0s 162us/step - loss: 1092.2334
Epoch 29/50
721/721 [==============================] - 0s 233us/step - loss: 1085.2562
Epoch 30/50
721/721 [==============================] - 0s 168us/step - loss: 1078.9114
Epoch 31/50
721/721 [==============================] - 0s 171us/step - loss: 1072.5224
Epoch 32/50
721/721 [==============================] - 0s 157us/step - loss: 1065.9756
Epoch 33/50
721/721 [==============================] - 0s 165us/step - loss: 1059.5898
Epoch 34/50
721/721 [==============================] - 0s 180us/step - loss: 1053.2125
Epoch 35/50
721/721 [==============================] - 0s 154us/step - loss: 1046.4585
Epoch 36/50
721/721 [==============================] - 0s 168us/step - loss: 1040.0108
Epoch 37/50
721/721 [==============================] - 0s 135us/step - loss: 1033.1197
Epoch 38/50
721/721 [==============================] - 0s 169us/step - loss: 1026.6981
Epoch 39/50
721/721 [==============================] - 0s 161us/step - loss: 1020.1685
Epoch 40/50
721/721 [==============================] - 0s 137us/step - loss: 1013.1722
Epoch 41/50
721/721 [==============================] - 0s 163us/step - loss: 1006.2068
Epoch 42/50
721/721 [==============================] - 0s 167us/step - loss: 999.4673
Epoch 43/50
721/721 [==============================] - 0s 171us/step - loss: 992.7086
Epoch 44/50
721/721 [==============================] - 0s 153us/step - loss: 986.7276
Epoch 45/50
721/721 [==============================] - 0s 164us/step - loss: 979.1394
Epoch 46/50
721/721 [==============================] - 4s 5ms/step - loss: 972.3180
Epoch 47/50
721/721 [==============================] - 0s 143us/step - loss: 965.4133
Epoch 48/50
721/721 [==============================] - 0s 160us/step - loss: 958.5560
Epoch 49/50
721/721 [==============================] - 0s 157us/step - loss: 952.1952
Epoch 50/50
721/721 [==============================] - 2s 3ms/step - loss: 945.1796

In [37]:

loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

309/309 [==============================] - 0s 275us/step

918.479072249823

In [38]:

from sklearn.metrics import mean_squared_error

In [39]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

918.4790800990967 0.0

In [40]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors without normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 592.7525225889335
MSE 2: 388.04128732033143
MSE 3: 226.2903350533791
MSE 4: 173.95865717520607
MSE 5: 151.64134320009103
MSE 6: 118.66350839361789
MSE 7: 138.58777665320338
MSE 8: 102.52237177975356
MSE 9: 119.14759076066002
MSE 10: 107.98717639515701
MSE 11: 65.35691092778178
MSE 12: 54.318754165303744
MSE 13: 61.22718636966446
MSE 14: 55.11122126409537
MSE 15: 50.91941970528908
MSE 16: 43.78308367806345
MSE 17: 47.11448112660627
MSE 18: 50.3747172679716
MSE 19: 50.9133335965351
MSE 20: 48.198016367298116
MSE 21: 46.031722380505414
MSE 22: 50.73448965078804
MSE 23: 44.87716861218696
MSE 24: 46.27139426666556
MSE 25: 49.96732829072329
MSE 26: 48.26224979536433
MSE 27: 55.37392272455407
MSE 28: 51.58035161039976
MSE 29: 52.20133356137569
MSE 30: 52.710094970406836
MSE 31: 52.34474429034878
MSE 32: 51.45771783378132
MSE 33: 48.09618360402129
MSE 34: 49.43087521648716
MSE 35: 55.56208882748502
MSE 36: 53.80904106954927
MSE 37: 55.37875073010096
MSE 38: 53.43501160754355
MSE 39: 49.21872753155656
MSE 40: 44.20635435727808
MSE 41: 54.59949876112459
MSE 42: 49.73375417962429
MSE 43: 76.02488376407561
MSE 44: 51.16367512922071
MSE 45: 51.934625347841134
MSE 46: 53.76628265874671
MSE 47: 48.071369739026316
MSE 48: 53.12713513173718
MSE 49: 48.570276562835794
MSE 50: 50.21483789832847


Below is the mean and standard deviation of 50 mean squared errors without normalized data. Total number of epochs for each training is: 50

Mean: 83.9013117524247
Standard Deviation: 93.06495529259773