In [2]:

import pandas as pd
import numpy as np

In [3]:
!wget -O concrete_data.csv https://cocl.us/concrete_data

--2020-05-29 18:53:17--  https://cocl.us/concrete_data
Resolving cocl.us (cocl.us)... 158.85.108.86, 169.48.113.194, 158.85.108.83
Connecting to cocl.us (cocl.us)|158.85.108.86|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv [following]
--2020-05-29 18:53:18--  https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv
Resolving s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)... 67.228.254.196
Connecting to s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)|67.228.254.196|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 58988 (58K) [text/csv]
Saving to: ‘concrete_data.csv’

100%[======================================>] 58,988      --.-K/s   in 0.003s

2020-05-29 18:53:18 (20.0 MB/s) - ‘concrete_data.csv’ saved [58988/58988]

In [4]:
concrete_data = pd.read_csv('concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [5]:

concrete_data.shape

(1030, 9)

In [6]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [7]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [8]:
concrete_data_columns = concrete_data.columns
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [9]:

predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [10]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [11]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [12]:
n_cols = predictors_norm.shape[1] # number of predictors
n_cols

8

In [13]:
import keras

Using TensorFlow backend.

In [14]:
from keras.models import Sequential
from keras.layers import Dense

In [15]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=42)

In [18]:
# build the model
model = regression_model()

WARNING:tensorflow:From /opt/conda/envs/Python36/lib/python3.6/site-packages/tensorflow/python/framework/op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

In [19]:
# fit the model
epochs = 50
model.fit(X_train, y_train, epochs=epochs, verbose=2)

WARNING:tensorflow:From /opt/conda/envs/Python36/lib/python3.6/site-packages/tensorflow/python/ops/math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Epoch 1/50
 - 1s - loss: 1555.3693
Epoch 2/50
 - 0s - loss: 1536.0053
Epoch 3/50
 - 0s - loss: 1516.4283
Epoch 4/50
 - 0s - loss: 1496.6562
Epoch 5/50
 - 0s - loss: 1476.7684
Epoch 6/50
 - 0s - loss: 1456.7321
Epoch 7/50
 - 0s - loss: 1436.2936
Epoch 8/50
 - 0s - loss: 1415.5013
Epoch 9/50
 - 0s - loss: 1394.1121
Epoch 10/50
 - 0s - loss: 1371.8422
Epoch 11/50
 - 0s - loss: 1349.2145
Epoch 12/50
 - 0s - loss: 1325.8423
Epoch 13/50
 - 0s - loss: 1301.6639
Epoch 14/50
 - 0s - loss: 1277.4088
Epoch 15/50
 - 0s - loss: 1252.0095
Epoch 16/50
 - 0s - loss: 1226.2259
Epoch 17/50
 - 0s - loss: 1199.9163
Epoch 18/50
 - 0s - loss: 1172.7554
Epoch 19/50
 - 0s - loss: 1145.0779
Epoch 20/50
 - 0s - loss: 1116.5183
Epoch 21/50
 - 6s - loss: 1087.6004
Epoch 22/50
 - 0s - loss: 1057.9911
Epoch 23/50
 - 0s - loss: 1027.7586
Epoch 24/50
 - 2s - loss: 996.4490
Epoch 25/50
 - 0s - loss: 965.4922
Epoch 26/50
 - 0s - loss: 933.4407
Epoch 27/50
 - 0s - loss: 900.9318
Epoch 28/50
 - 0s - loss: 868.2329
Epoch 29/50
 - 0s - loss: 835.3913
Epoch 30/50
 - 0s - loss: 802.4305
Epoch 31/50
 - 0s - loss: 769.6379
Epoch 32/50
 - 0s - loss: 736.8202
Epoch 33/50
 - 0s - loss: 704.5659
Epoch 34/50
 - 0s - loss: 672.5597
Epoch 35/50
 - 0s - loss: 641.1215
Epoch 36/50
 - 0s - loss: 611.0290
Epoch 37/50
 - 0s - loss: 581.0278
Epoch 38/50
 - 0s - loss: 552.7806
Epoch 39/50
 - 0s - loss: 525.7458
Epoch 40/50
 - 0s - loss: 499.5148
Epoch 41/50
 - 0s - loss: 474.8140
Epoch 42/50
 - 0s - loss: 451.2387
Epoch 43/50
 - 0s - loss: 428.9700
Epoch 44/50
 - 0s - loss: 408.2713
Epoch 45/50
 - 0s - loss: 389.0067
Epoch 46/50
 - 0s - loss: 370.9201
Epoch 47/50
 - 0s - loss: 354.3122
Epoch 48/50
 - 0s - loss: 339.0128
Epoch 49/50
 - 0s - loss: 324.8556
Epoch 50/50
 - 0s - loss: 311.8962

In [20]:

loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

309/309 [==============================] - 1s 3ms/step

278.6845098699181

In [21]:
from sklearn.metrics import mean_squared_error

In [22]:

mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

278.68451856364743 0.0

In [23]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors with normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 147.56076331277495
MSE 2: 140.45256847393938
MSE 3: 93.47638922138893
MSE 4: 81.09607336050485
MSE 5: 68.17534153515467
MSE 6: 64.39482489527236
MSE 7: 61.636859017282625
MSE 8: 45.33811421070284
MSE 9: 52.22521340576962
MSE 10: 50.32407182860143
MSE 11: 45.68834291229742
MSE 12: 45.08528660647691
MSE 13: 51.923043556583735
MSE 14: 51.771594914803615
MSE 15: 42.46778973329415
MSE 16: 38.01987610357093
MSE 17: 41.08653535812032
MSE 18: 39.70166781033513
MSE 19: 39.29114807770862
MSE 20: 40.64960959968443
MSE 21: 38.08904913251068
MSE 22: 38.08858371475368
MSE 23: 34.098181628872275
MSE 24: 36.17072261575742
MSE 25: 35.38421903690474
MSE 26: 38.66664917337856
MSE 27: 35.13774006420741
MSE 28: 34.230092199874925
MSE 29: 36.52270674474031
MSE 30: 37.03714018269264
MSE 31: 34.64131979340488
MSE 32: 32.00795016242463
MSE 33: 36.42761446511476
MSE 34: 34.76039785243161
MSE 35: 36.406736034405654
MSE 36: 42.57352706143771
MSE 37: 32.743602968728275
MSE 38: 38.90089967104223
MSE 39: 37.33969322377424
MSE 40: 30.189490123859887
MSE 41: 36.32106342747759
MSE 42: 32.042330331401146
MSE 43: 35.56309616681442
MSE 44: 39.2924110387907
MSE 45: 38.676259642665826
MSE 46: 34.09856670342603
MSE 47: 32.47569606990876
MSE 48: 34.480857009640786
MSE 49: 37.180551257334095
MSE 50: 36.20811777207458


Below is the mean and standard deviation of 50 mean squared errors with normalized data. Total number of epochs for each training is: 50

Mean: 46.3224071292284
Standard Deviation: 23.414972728376092